<script src="../js/header.js"></script>
<body>

<div id="wrapper">

    <!--sidebar-->
    <script src="../js/sidebar.js"></script>

    <!--body-->
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>Create</h2>
                </div>
                <div class="mail-box">

                    <div class="mail-body">

                        <form class="form-horizontal" method="get">
                            <div class="form-group"><label class="col-sm-1 control-label">Title:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Category:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Localization:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Description:</label>

                                <div class="col-sm-10"><textarea class="form-control" rows="10" id="comment"></textarea></div>
                            </div>
                        </form>

                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <a href="mailbox.html" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Create</a>
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer.js -->
    <script src="../js/footer.js"></script>

</div>
</div>

<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="../js/plugins/iCheck/icheck.min.js"></script>
</body>

</html>
