<script src="../js/header.js"></script>
<body>

<div id="wrapper">

    <script src="../js/sidebar.js"></script>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>
                        Create
                    </h2>
                </div>
                <div class="mail-box">


                    <div class="mail-body">

                        <form class="form-horizontal" method="get">
                            <div class="form-group"><label class="col-sm-1 control-label">Title:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""
                                                              id="ticket_title"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Category:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""
                                                              id="ticket_category"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Localization:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""
                                                              id="ticket_localization"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Description:</label>
                                <div class="col-sm-10"><textarea class="form-control" rows="10"
                                                                 id="ticket_description"></textarea></div>
                            </div>
                        </form>

                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <a onclick="createTicket();" class="btn btn-sm btn-primary"
                           data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i>
                            Create</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/footer.js"></script>
</div>



<!-- Mainly scripts -->

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../js/getUrlParam.js"></script>
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="../js/plugins/iCheck/icheck.min.js"></script>


<script>
    $(document).ready(function () {
        ticket_type = getURLParameter('type');
        if (ticket_type == 'offer') {
            $("#offer_menu").attr('class', 'active');
        } else {
            $("#request_menu").attr('class', 'active');
        }
    })
</script>

<script>
    function createTicket() {
        title = $("#ticket_title").val();
        category = $("#ticket_category").val();
        localization = $("#ticket_localization").val();
        desc = $("#ticket_description").val();
        if (ticket_type == 'offer') {
            path = '/addOferta'
        } else {
            path = '/addPedido'
        }
        $.ajax({
            type: 'post',
            url: path,
            data: {
                "username": 'username_1',
                "categoria": category,
                "titulo": title,
                "descricao": desc,
                "localizacao": localization
            },
            success: function (data) {
            }
        });
    }
</script>


</body>

</html>