<script src="../js/header.js"></script>
<body>

<div id="wrapper">

    <script src="../js/sidebar.js"></script>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">
                <div class="mail-box-header">
                    <h2 id="create"></h2>
                </div>
                <div class="mail-box">
                    <div class="mail-box-header">
                        <p>Please, fill in all the fields.</p>
                    </div>
                    <div class="mail-body">
                        <form class="form-horizontal" method="get">
                            <div class="form-group"><label class="col-sm-1 control-label">Title:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""
                                                              id="ticket_title"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Category:</label>
                                <div class="col-sm-3">
                                    <div class="input-group-btn">
                                        <button id="dropBut" class="col-lg-10 btn btn-white" type="button" aria-expanded="false">Categories</button>
                                        <button data-toggle="dropdown" type="button" class="col-lg-2 btn btn-white"><span class="caret"></span></button>
                                        <ul class="dropdown-menu col-lg-12">
                                            <li><a onclick="change('All')">All</a></li>
                                            <li><a onclick="change('Doubts')">Doubts</a></li>
                                            <li><a onclick="change('Education')">Education</a></li>
                                            <li><a onclick="change('Events')">Events</a></li>
                                            <li><a onclick="change('Goods')">Goods</a></li>
                                            <li><a onclick="change('Jobs')">Jobs</a></li>
                                            <li><a onclick="change('Volunteer')">Volunteer</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Localization:</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value=""
                                                              id="ticket_localization"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-1 control-label">Description:</label>
                                <div class="col-sm-10"><textarea class="form-control" rows="10"
                                                                 id="ticket_description"></textarea></div>
                            </div>
                        </form>
                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <a onclick="createTicket();" class="btn btn-sm btn-primary"
                           data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i>
                            Create</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/footer.js"></script>
</div>



<!-- Mainly scripts -->

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../js/getUrlParam.js"></script>
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- iCheck -->
<script src="../js/plugins/iCheck/icheck.min.js"></script>


<script>
    $(document).ready(function () {
        ticket_type = getURLParameter('type');
        if (ticket_type == 'offer') {
            $("#offer_menu").attr('class', 'active');
            $("#create").text("Create offer");
        } else {
            $("#request_menu").attr('class', 'active');
            $("#create").text("Create help request");
        }
    })
</script>

<script>
    function createTicket() {
        title = $("#ticket_title").val();
        category = $("#dropBut").text();
        localization = $("#ticket_localization").val();
        desc = $("#ticket_description").val();

        if (ticket_type == 'offer') {
            path = '/addOferta'
        } else {
            path = '/addPedido'
        }
        $.ajax({
            type: 'post',
            url: path,
            data: {
                "username": 'username_1',
                "categoria": category,
                "titulo": title,
                "descricao": desc,
                "localizacao": localization
            },
            success: function (data) {
            }
        });
    }

    function change(category) {
        $("#dropBut").text(category);
    }
</script>


</body>

</html>