<script src="../js/header.js"></script>

<body>

<div id="wrapper">

    <!--sidebar-->
    <script src="../js/sidebar.js"></script>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Profile Detail</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" style="height: 20%; padding: 5%" src="../img/silva.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>Carlos Silva</strong></h4>
                            <p><i class="fa fa-map-marker"></i> Porto, Portugal</p>
                            <h5>
                                About me:
                            </h5>
                            <p>
                                Back in Syria, I was a butcher. I ran my family-owned store, but unfortunate circumstances
                                forced me to leave my beloved hometown. I am a hardworking man, trying to fit in such a beautiful country as is Portugal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!--offers-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Offers</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <ul class="sortable-list connectList agile-list">
                                <li class="info-element">I can translate Arabic documents to English. I will be glad to help!
                                    <div class="row">
                                        <div class="agile-detail col-lg-2">
                                            <strong>carlos_silva</strong>
                                        </div>
                                        <div class="agile-detail col-lg-3">
                                            <i class="fa fa-clock-o"></i> 6/25/2017
                                        </div>
                                        <div class="agile-detail col-lg-4">
                                            <i class="fa fa-map-marker"></i> Porto
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--requests-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Help Requests</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <ul class="sortable-list connectList agile-list" id="todo">
                                <li class="success-element" id="task1">Im looking for a someone to explain to me the legal process of opening a personal shop here in Portugal.
                                    <div class="row">
                                        <div class="agile-detail col-lg-2">
                                            <strong>carlos_silva</strong>
                                        </div>
                                        <div class="agile-detail col-lg-3">
                                            <i class="fa fa-clock-o"></i> 27/06/2017
                                        </div>
                                        <div class="agile-detail col-lg-4">
                                            <i class="fa fa-map-marker"></i> Porto
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--messages-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Messages</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <div class="row">
                                <form method="get" action="index.html" class="mail-search pull-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mail-box col-lg-12">
                                    <table class="table table-hover table-mail">
                                        <tbody>
                                        <tr class="unread">
                                            <td class="mail-ontact"><a href="mail_detail.html">Júlia Gonçalves</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html">I can teach you about the process of creating a small business. Contact me!</a></td>
                                            <td class="mail-date">25/06</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer.js -->
    <script src="../js/footer.js"></script>

</div>
</div>



<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- Peity -->
<script src="../js/plugins/peity/jquery.peity.min.js"></script>

<!-- Peity -->
<script src="../js/demo/peity-demo.js"></script>

</body>

</html>
