<script src="../js/header.js"></script>

<body>

<div id="wrapper">

    <!--sidebar-->
    <script src="../js/sidebar.js"></script>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Profile Detail</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="../img/profile.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>Monica Smith</strong></h4>
                            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                            <h5>
                                About me
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-md-4">
                                    <h5><strong>169</strong> Posts</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>28</strong> Following</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>240</strong> Followers</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!--offers-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Offers</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <ul class="sortable-list connectList agile-list">
                                <li class="info-element">Simply dummy text of the printing and typesetting industry.
                                    <div class="row">
                                        <div class="agile-detail col-lg-2">
                                            <strong>AUTOR</strong>
                                        </div>
                                        <div class="agile-detail col-lg-3">
                                            <i class="fa fa-clock-o"></i> DATA
                                        </div>
                                        <div class="agile-detail col-lg-4">
                                            <i class="fa fa-map-marker"></i> LOCALIZACAO
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--requests-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Help Requests</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <ul class="sortable-list connectList agile-list" id="todo">
                                <li class="success-element" id="task1">Simply dummy text of the printing and typesetting industry.
                                    <div class="row">
                                        <div class="agile-detail col-lg-2">
                                            <strong>AUTOR</strong>
                                        </div>
                                        <div class="agile-detail col-lg-3">
                                            <i class="fa fa-clock-o"></i> DATA
                                        </div>
                                        <div class="agile-detail col-lg-4">
                                            <i class="fa fa-map-marker"></i> LOCALIZACAO
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--messages-->
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>My Messages</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="animated fadeInRight">
                            <div class="row">
                                <form method="get" action="index.html" class="mail-search pull-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mail-box col-lg-12">
                                    <table class="table table-hover table-mail">
                                        <tbody>
                                        <tr class="unread">
                                            <td class="mail-ontact"><a href="mail_detail.html">Anna Smith</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>Ie of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If yoLorem</i> </a></td>
                                            <td class="mail-date">6.10</td>
                                        </tr>
                                        <tr class="unread">
                                            <td class="mail-ontact"><a href="mail_detail.html">Jack Nowak</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>If ge of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If you a Lorem</i> </a></td>
                                            <td class="mail-date">20.22</td>
                                        </tr>
                                        <tr class="read">
                                            <td class="mail-ontact"><a href="mail_detail.html">Mailchip</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>Ifage of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If youf Lorem</i> </a></td>
                                            <td class="mail-date">Mar 22</td>
                                        </tr>
                                        <tr class="read">
                                            <td class="mail-ontact"><a href="mail_detail.html">Alex T.</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>If passage of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If youage of Lorem</i> </a></td>
                                            <td class="mail-date">Dec 22</td>
                                        </tr>
                                        <tr class="read">
                                            <td class="mail-ontact"><a href="mail_detail.html">Monica Ryther</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>If yo passage of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If you areage of Lorem</i> </a></td>
                                            <td class="mail-date">Jun 12</td>
                                        </tr>
                                        <tr class="read">
                                            <td class="mail-ontact"><a href="mail_detail.html">Sandra Derick</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>If you are gorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If you arngassage of Lorem</i> </a></td>
                                            <td class="mail-date">May 28</td>
                                        </tr>
                                        <tr class="read">
                                            <td class="mail-ontact"><a href="mail_detail.html">Patrick Pertners</a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><strong>Ife of Lorem</strong></a></td>
                                            <td class="mail-subject"><a href="mail_detail.html"><i>If you Lorem</i> </a></td>
                                            <td class="mail-date">May 28</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer.js -->
    <script src="../js/footer.js"></script>

</div>
</div>



<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- Peity -->
<script src="../js/plugins/peity/jquery.peity.min.js"></script>

<!-- Peity -->
<script src="../js/demo/peity-demo.js"></script>

</body>

</html>
