<script src="../js/header.js"></script>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="../img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">NOME DO GAJO</strong>
                             </span> <span class="text-muted text-xs block">PROFISSAO <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a href="grid_options.html"><i class="fa fa-slideshare"></i> <span class="nav-label">Create help request</span></a>
                </li>

                <li>
                    <a href="grid_options.html"><i class="fa fa-handshake-o"></i> <span class="nav-label">Create Offer</span></a>
                </li>


                <li>
                    <a href="grid_options.html"><i class="fa fa-plus-square"></i> <span class="nav-label">See Offers</span></a>
                </li>

                <li>
                    <a href="grid_options.html"><i class="fa fa-plus-square-o"></i> <span class="nav-label">See Help Requests </span></a>
                </li>

            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" action="search_results.html">
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46h ago</small>
                                        <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5h ago</small>
                                        <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/profile.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">23h ago</small>
                                        <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="grid_options.html">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="notifications.html">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Profile</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a>Extra Pages</a>
                    </li>
                    <li class="active">
                        <strong>Profile</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>Monica Smith</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>169</strong> Posts</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>28</strong> Following</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                        <h5><strong>240</strong> Followers</h5>
                                    </div>
                                </div>
                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>My Offers</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="animated fadeInRight">

                                <ul class="sortable-list connectList agile-list" id="todo">
                                    <li class="info-element" id="task1">
                                        Simply dummy text of the printing and typesetting industry.
                                        <div class="row">
                                            <div class="agile-detail col-lg-2">
                                                <strong>AUTOR</strong>
                                            </div>
                                            <div class="agile-detail col-lg-3">
                                                <i class="fa fa-clock-o"></i> DATA
                                            </div>
                                            <div class="agile-detail col-lg-4">
                                                <i class="fa fa-map-marker"></i> LOCALIZACAO
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>My Help Requests</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="animated fadeInRight">

                                <ul class="sortable-list connectList agile-list" id="todo">
                                    <li class="success-element" id="task1">
                                        Simply dummy text of the printing and typesetting industry.
                                        <div class="row">
                                            <div class="agile-detail col-lg-2">
                                                <strong>AUTOR</strong>
                                            </div>
                                            <div class="agile-detail col-lg-3">
                                                <i class="fa fa-clock-o"></i> DATA
                                            </div>
                                            <div class="agile-detail col-lg-4">
                                                <i class="fa fa-map-marker"></i> LOCALIZACAO
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>My Messages</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="animated fadeInRight">

                                <div class="row">
                                    <form method="get" action="index.html" class="mail-search pull-left">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="mail-box col-lg-12">
                                        <table class="table table-hover table-mail">
                                            <tbody>
                                            <tr class="unread">
                                                <td class="mail-ontact"><a href="mail_detail.html">Anna Smith</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>Ie of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If yoLorem</i> </a></td>
                                                <td class="mail-date">6.10</td>
                                            </tr>
                                            <tr class="unread">
                                                <td class="mail-ontact"><a href="mail_detail.html">Jack Nowak</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>If ge of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If you a Lorem</i> </a></td>
                                                <td class="mail-date">20.22</td>
                                            </tr>
                                            <tr class="read">
                                                <td class="mail-ontact"><a href="mail_detail.html">Mailchip</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>Ifage of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If youf Lorem</i> </a></td>
                                                <td class="mail-date">Mar 22</td>
                                            </tr>
                                            <tr class="read">
                                                <td class="mail-ontact"><a href="mail_detail.html">Alex T.</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>If passage of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If youage of Lorem</i> </a></td>
                                                <td class="mail-date">Dec 22</td>
                                            </tr>
                                            <tr class="read">
                                                <td class="mail-ontact"><a href="mail_detail.html">Monica Ryther</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>If yo passage of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If you areage of Lorem</i> </a></td>
                                                <td class="mail-date">Jun 12</td>
                                            </tr>
                                            <tr class="read">
                                                <td class="mail-ontact"><a href="mail_detail.html">Sandra Derick</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>If you are gorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If you arngassage of Lorem</i> </a></td>
                                                <td class="mail-date">May 28</td>
                                            </tr>
                                            <tr class="read">
                                                <td class="mail-ontact"><a href="mail_detail.html">Patrick Pertners</a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><strong>Ife of Lorem</strong></a></td>
                                                <td class="mail-subject"><a href="mail_detail.html"><i>If you Lorem</i> </a></td>
                                                <td class="mail-date">May 28</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

    </div>
</div>



<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

<!-- Peity -->
<script src="../js/plugins/peity/jquery.peity.min.js"></script>

<!-- Peity -->
<script src="../js/demo/peity-demo.js"></script>

</body>

</html>
